html {
  font-size: clamp(1rem, calc(0.5rem + 2vw), 1.625rem);
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

header {
  padding: 10px;
  text-align: center;
}

header li {
  margin: 10px 0 0 0;
}

.text-yellow {
  color: #fbbc05;
}

.button-yellow a {
  padding: 8px 16px;
  background-color: #fbbc05;
  border-radius: 4px;
  color: white;
  display: inline-block;
}

/* === Banner === */
.banner {
  background-image: url(../images/background-banner.png);
  background-size: 100% auto;
  padding: 3vw 5vw;
  margin: 5vw 0;
}

.banner div.image {
  display: none;
}

.banner h1 {
  font-size: 2.5rem;
  color: #252b42;
}

.banner p {
  font-size: 0.9rem;
  color: #737373;
  margin-bottom: 20px;
}

.banner a {
  background: #252b42;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 4px 10px;
  gap: 10px;
}

.banner p.buttons {
  display: flex;
  color: white;
  gap: 20px;
}

.banner p.buttons img {
  height: 50%;
}

.ready div.imagem {
  display: none;
}

.ready {
  text-align: center;
  padding: 3vw 5vw;
}
.ready > p {
  margin-bottom: 20px;
}

.ready h2 {
  font-size: 1.7rem;
  font-weight: 700;
  padding: 10px 0;
}

.ready div.lista li {
  margin-top: 25px;
}

.ready div.lista h3 {
  font-size: 1.2rem;
  font-weight: 700;
}
section.download h2{
  font: 3rem;
  margin: 20px 0 20px 0;
  font-weight: bold;    
}
section.download button{
  background: #252b42;
}

.download {
  background-color:#fbbc05 ;
  margin: 3vw 5vw;
  border-radius: 8px;
  padding: 10px;
  color: white;
}
.services{
  margin: 3vw 5vw 3vw 5vw;
}
.services h2{
  font-size: 1.7rem;
}
.services h3 {
  font-size: 1.4rem;
  margin: 5px 0;
}
.services p{
  font-size: 0.9rem;
}
.services div {
  margin: 0 0 20px 0;
}
.services li{
  background-color: #f6f6f6;
  padding: 20px;
  margin: 10px 0;
}

@media only screen and (min-width: 600px) {
  nav {
    display: flex;
    justify-content: space-between;
  }

  header ul {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  header {
    padding: 2px 5px;
    font-size: 20px;
  }

  .banner {
    align-items: center;
    display: flex;
  }

  .banner div.image {
    display: block;
  }

  .ready div.imagem {
    display: block;
  }

  .ready > p {
    padding: 0 30%;
  }

  .ready > div {
    display: flex;
    justify-content: center;
  }

  .ready div.lista ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 40vw;
  }

  .ready div.lista li {
    width: 40%;
  }
  .download{
    padding: 3vw 3vw 3vw 3vw;
    background: url(../images/iphone-pet-ui.png) no-repeat, url(../images/iphone-pet-ui.png) no-repeat, #fbbc05;
    background-size: auto 120%, auto 100%;
    background-position: 60% -70%, 100% -5vw;
  }
  .download p {
    width: 20%;
    margin:0 0 5vw 0 ;
  }
  .services{
    display: flex;
    gap: 10vw;
  }
  .services div{
    width: 50%;
  }
  .services ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
